{
  "coverage_options": {
    "minimum_coverage": 30.0
  },
  "skip_files": [
    "lib/<%= app_name %>/release.ex",
    "lib/<%= app_name %>_web/components/core_components.ex",
    "lib/<%= app_name %>_web/components/layouts.ex",
    "lib/<%= app_name %>_web/endpoint.ex",
    "lib/<%= app_name %>_web/gettext.ex",
    "lib/<%= app_name %>_web/telemetry.ex",
    "lib/<%= app_name %>.ex",
    "lib/<%= app_name %>_web.ex"
  ]
}
